<div class="buttons">
  {{#if logged_in}}
  <a class="button has-background-light" href="/profile">Profile</a>
  {{else}}
  <a class="button has-background-danger" href="/login">
    Profile
  </a>
  {{/if}}
  </p>
</div>