<div class="container">
    <div class="notification is-white">
        <div class="columns is-left is-3">
            <div class="column field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">State Code</label>
                </div>
            </div>
            <p class="control">
                <input class="input" id="search-state" type="text" placeholder="ex: TX">
            </p>
            <span><button class="button search-form ml-4">Search</button></span>
        </div>
    </div>
</div>
<script src="/js/search.js"></script>