<div class="container is-widescreen ">
  <div class="notification is-info is-grouped is-grouped-centered">
    <h1>
      <span role="img" aria-label="money">💸</span>
      <a href="/">ParcsNRecs!</a>
    </h1>
    <strong>Discover nature's masterpiece. Explore, immerse, and connect at our breathtaking national
      park.</strong>
    {{> profile-bar}}

    {{> search-bar}}
  </div>
</div>